[Desktop Entry]
Encoding=UTF-8
Name=Lasvegascoin
Comment=Lasvegascoin P2P Cryptocurrency
Comment[fr]=Lasvegascoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Lasvegascoin, eşten eşe kriptografik sanal para birimi
Exec=lasvegascoin-qt %u
Terminal=false
Type=Application
Icon=lasvegascoin128
MimeType=x-scheme-handler/lasvegascoin;
Categories=Office;Finance;
